#system files
.vscode
.DS_store

build
bin

Drawings
Matrices
oldVersion
scripts/examples
scripts
res
AresRes
AresGPES
srcAres
inputs
python

include/gpes/Solvers/CrankNicolson1D.inl
include/gpes/Solvers/CrankNicolson2D.inl

#IDE files
*.iml
.idea/